rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{document=**} {
      allow read: if true;
      allow write: if request.resource.data.keys().hasAll(['title', 'slug', 'author']) && request.resource.data.author == 'cozuna';
    }
    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
